body {
    margin: 0px;
    padding: 0px;
    background-color:#425664;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
   color: #F6F4F2; 
   font-size: 40px;
   font-weight: bolder;
   margin: 0px;
}

label {
    color: #F6F4F2;
    font-size: 20px;
    font-weight: bold;
}

section {
    text-align: center;
    border: 1px solid none;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('https://images.unsplash.com/photo-1589033832784-2a3122cc8761?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1048&q=80');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

#titleBox {
    width: 80%;
    border: 1px solid black;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

#description {
    width: 80%;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    font-size: 15px;
}
 
#submit {
    margin-top: 10px;
    font-size: 15px;
    
}

h3 {
    color:#F6F4F2;
    font-size: 25px;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid lightgray;
}

p {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
}

div {
    border: 1px solid none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: #C6AD8F;
    padding-bottom: 8px;
    padding-top: 8px;
}


/* tablet and desktop */
@media only screen and (min-width: 1000px) {

    section {
        margin-left: 20%;
        margin-right: 20%;
    }

    div {
        margin-left: 25%;
        margin-right: 25%;
    }
}
